#formattedPayload {
    background: #ffffff;
    width: 40%;
    min-height: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

#main div.hider > form {
    display: inline-block;
}

#parseError {
    color: crimson;
}

.payloadBtn {
    cursor: pointer;
    border-bottom: 1px dotted;
    line-height: 30px;
}